{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TB Detection Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'detection/css/style.css' %}">

</head>
<body>
    <div class="dashboard-container">
        <header class="dashboard-header">
            <h1>TABLEAU D'ANALYSE</h1>
        </header>

        <main class="dashboard-main">
            <section class="card upload-section">
                <h2>Inserez votre image de RADIOGRAPHIE</h2>
                <div class="upload-area">
                    <input type="file" id="imageUpload" accept="image/*" style="display: none;">
                    <button id="uploadButton" class="btn">Choisir Image</button>
                    <p id="fileNameDisplay" class="file-name-display"></p>
                    <div class="image-preview" id="imagePreview">
                        <img id="uploadedImage" src="#" alt="Image Preview" style="display: none;">
                        <p id="previewPlaceholder">Aucune image selectionée</p>
                    </div>
                </div>
                <button id="predictButton" class="btn predict-btn" disabled>Detecter</button>
            </section>

            <section class="card results-section">
                <h2>RESULTATS DE L'ANALYSE</h2>
                <div class="results-content">
                    <p class="result-label">Status:</p>
                    <p id="detectionStatus" class="result-value initial-state">En attente de la prediction</p>

                    <p class="result-label">Confiance:</p>
                    <p id="confidenceScore" class="result-value initial-state">N/A</p>

                    <div class="result-details">
                        </div>
                </div>
            </section>

            </main>
    </div>

    <script src="script.js"></script>
    
    <script src="{% static 'detection/js/script.js' %}"></script>

</body>
</html>